<meta charset="utf-8" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= siteTitle %></title>

<!-- bootstrap -->
<link href="/media/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="/media/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<!-- <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script> -->
<script src="https://cdn.bootcss.com/moment.js/2.23.0/moment.min.js"></script>

<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico?v=<%= site.utils.now %>">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">


<!-- 支持prism -->
<script src="../../prism.js" ></script>
<link href="../../prism.css" rel="stylesheet" />
 
<!-- DEMO JS -->
<script src="media/scripts/index.js"></script>

<!-- 添加 Vline 评论 -->
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>

 <!-- 添加showdown markdown 支持 -->
<!-- <script src="/media/showdownjs/showdownjs-showdown-3c120ed/src/showdown.js"></script> -->
<!-- 谷歌统计 -->
<% if (site.customConfig.ga) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= site.customConfig.ga %>');
</script>
<% } %>
<!-- 百度统计 -->
<%-site.customConfig.baidutongji%>